@inherits LayoutComponentBase

<PageTitle>Alphabetiser</PageTitle>

<div class="page">
    <div class="sidebar">
    </div>

    <main>
        <article class="content px-4">
            <h3>Alphabetiser</h3>
            @Body
        </article>
    </main>
</div>
